extends ../layout/common.pug
block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
   div 
    if(viewAction)
     .d-flex.justify-content-start.align-items-center 
      a(href="/books") 
       img(src= user.avatarUrl)
      h5.m-0.mr-5= "Hi admin " + user.name
    else
     .d-flex.justify-content-start.align-items-center 
       a(href="/books")
        img(src= user.avatarUrl?user.avatarUrl:"https://miro.medium.com/max/720/1*W35QUSvGpcLuxPo3SRTH4w.png")
       if(user.name)
        h5.m-0.mr-5= "Hi " + user.name
       else
        h5.m-0.mr-5= "Hi Guess"
   #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto 
     li.nav-item
      span.nav-link
       i(class="fas fa-shopping-cart text-danger")  
        span= sumCart

   if(viewAction)
    a(href="/books/add", class="mr-1 btn btn-danger") Add new book
    a(href="/users", class="mr-1 btn btn-primary") View Users
   if(!viewAction)
    a(href="/profile", class="mr-1 btn btn-primary") Update info
   a(href="/transaction",  class="mr-1 btn btn-warning") View transaction
   a(href="/logout", class="btn btn-info") Đăng Xuất


  
  .container.mt-5.pt-5
    .row
      each book, index in books
        .col-3.item
         .card.mb-3
          img(src= book._doc.image, class="card-img-top")
          div(class="card-body position-relative")  
            h5(class="card-title")= book._doc.title
            p(class="card-text")= book._doc.description
            .button.position-absolute.btn-view
              a(class="btn btn-primary", href="/books/detail/"+ book.id) View
            .button.position-absolute.btn-borrow
              a(class="btn btn-danger", href="/cart/add/"+ book.id) Add to cart
              if(viewAction)
               a(class="btn btn-danger ml-1 btn-delete", href="/books/delete/"+ book.id) Delete
               a(class="btn btn-warning ml-1 btn-update", href="/books/update/"+ book.id) Update

    .pagination.mb-5.mt-5.d-flex.justify-content-center
      form(action="/books", method="GET")
       button(name="page",class="btn-num", value= 1, hidden="true"?page-1==0:'false' ) <<
       button(name="page",class="btn-num", value= page-1, hidden="true"?page-1==0:'false' ) <
       button(name="page",class="btn-num", value= page-1, hidden="true"?page-1==0:'false')= page-1
       button(name="page",class="btn-num", value= page, class="btn-active" )= page
       button(name="page",class="btn-num", value= page+1, hidden="true"?page+1>=endPage:'false')= page+1
       button(name="page",class="btn-num", value= page+2, hidden="true"?page+2>=endPage:'false')= page+2
       button(name="page",class="btn-num", value= page+1, hidden="true"?page+1>=endPage:'false' ) >
       button(name="page",class="btn-num", value= endPage, hidden="true"?page+1>=endPage:'false') >>
       
